     <div class="col-12 col-lg-2 text-sm">
                    <div class="row text-center">
                      <img src="{% static 'images/logo.png' %}" alt="">
                    <h6><span class="badge " style="background-color: dodgerblue;">BUK Agro-farm</span></h6>
                    <br/>
                    <br/>  
                   <p>
                      <small class="fw-semibold text-sm">
                        The Centre for Dryland Agriculture (CDA) is a World Bank's supported Africa Centre of Excellence (ACE) established to serve as a regional training hub for the West and Central Africa (WCA) sub-region.
                      </small>
                    </p>
                      <p>
                      <small>
                        We produce variety of products in our farm for your daily consumption. <br/>
                        <strong>Oh!</strong> do we mentioned that the our online service is <strong>24/7?</strong>
                        
                      </small></p>
                    </div>
                </div>