 <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">WEEKLY SALES</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
          </div>
          <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar" class="align-text-bottom"></span>
            This week
          </button>
        </div>
      </div>

      <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
      
      {% block content %}
      <canvas id="myChart"></canvas>
    {% endblock %}
    
    {% block scripts %}
      <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.min.js"></script>
      <script>
        var myData = {{ chart_data }};
       
        
        document.addEventListener("DOMContentLoaded", function() {
          'use strict'
          
          feather.replace({ 'aria-hidden': 'true' })
          
          // Graphs
          const ctx = document.getElementById('myChart')
          // eslint-disable-next-line no-unused-vars
          const myChart = new Chart(ctx, {
            type: 'line',
            data: {
              labels: [
                'Sunday',
                'Monday',
                'Tuesday',
                'Wednesday',
                'Thursday',
                'Friday',
                'Saturday'
              ],
              datasets: [{
                data: myData,
                lineTension: 0,
                backgroundColor: 'transparent',
                borderColor: '#007bff',
                borderWidth: 4,
                pointBackgroundColor: '#007bff'
              }]
            },
            options: {
              scales: {
                yAxes: [{
                  ticks: {
                    beginAtZero: false
                  }
                }]
              },
              legend: {
                display: false
              }
            }
          })
        })
      </script>
    {% endblock %}
