<!DOCTYPE html>
<html>
  <head>
    <title>About Centre for Dryland Agriculture, Bayero University Kano</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>
  <body>

    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
      <a class="navbar-brand" href="#">Centre for Dryland Agriculture, Bayero University Kano</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav ">
          <li class="nav-item float-end">
            <a class="nav-link" href="#">Home</a>
          </li>
         
        </ul>
      </div>
    </nav>

    <div class="container-fluid" style="margin-top:30px">
      <div class="row">
        <div class="col-sm-8">
          <h2>About Centre for Dryland Agriculture</h2>
          <h5><i>A World Bank-supported Africa Centre of Excellence (ACE)</i></h5>
          <p>The Centre for Dryland Agriculture (CDA) is a World Bank-supported Africa Centre of Excellence (ACE) established to serve as a regional training hub for the West and Central Africa (WCA) sub-region. Bayero University, Kano (BUK) established the Centre in 2012 as part of its effort towards addressing the development challenges of the dryland areas of the sub-region. This was borne out of the realization that addressing the myriad of problems in the WCA drylands requires generation of knowledge and applied research products that will produce outcomes focused on reducing poverty, improving agricultural productivity, enhancing food and nutrition security, improving natural resources and ecosystem services, mitigating the impacts of climate change, and reducing conflicts and human migration.</p>
          <h5><i>Programs Offered</i></h5>
          <p>The CDA runs MSc and PhD programmes in Agronomy (Dryland Crops and Cropping Systems), Natural Resources Management and Climate Change, Agricultural Economics (Natural Resources Economics), and Animal Science (Livestock and Range Improvement). A new programme, MSc in Agricultural Technology, took off in the 2019/2020 academic session domiciled in the Department of Agricultural and Environmental Engineering. The Centre also runs a Postgraduate Diploma in Dryland
			Agriculture, and specialized short courses to impart specific skills that address the practical needs of career professionals and sectorial stakeholders. The programmes of the Centre have full national accreditation from the National Universities Commission (NUC) and full international accreditation from the High Council for Evaluation of Research and Higher Education (HCERES), France.</p>

			<p>In the last five years, the CDA has enrolled over 350 MSc and about 100PhD students from 13 countries of the WCA sub-region. The Centre has also trained more than 2000 professionals in various skills through short-term courses. The short course programmes focus on professional capacity development that impart critically needed skills in the areas of food production, processing and value addition, and in the sustainable management dryland natural resources.</p>
			<p>The CDA has excellent teaching, learning and research facilities geared towards building capacities for a wide range of stakeholders, expanding national and regional outreach, supporting innovative research and upgrading the teaching and research capacities of its staff and students. The Centre has some of the best equipped laboratories in the WCA sub-region for research and services in molecular biology, plant tissue culture, GIS and Remote Sensing, soil and plant analysis, and food analyses (including testing for pesticides residues and aflatoxins).</p>
			<p>The center has also developed a 22 ha Training and Research Farm to enable training of employees in the sector. This will address the huge skills gaps in high-value intensive crop production and protection using modern technologies such as drip and sprinkler irrigation, fertigation, in-field and controlled environment crop production.</p>
			<p>The Centre has formed a formidable network of partnerships with several international, regional, and national academic institutions with common interests. These partners include research institutions, universities, public and non-government organizations, private sector organizations, and farmer groups.</p>
			<p>The CDA is presently working to consolidate on its previous achievements by partnering with relevant sectoral key players to develop and mount training, research and outreach programmes that will make an impact on the livelihoods of the inhabitants of the WCA dryland areas. The Centre plans to establish a Regional Innovation, Training and Entrepreneurship Platform where youth will be trained in modern intensive agriculture (both in-field and in protected environments) and in bio-resource entrepreneurship. This is aimed at facilitating the emergence of small and medium scale enterprises (SME) that will help in alleviating poverty and improving the general well-being of the inhabitants of the sub-region.</p>
			<p>On 16th February 2022, the CDA held its maiden annual ‘Open Day’ to interact with various stakeholders and showcase some of its modest achievements. The event coincided with the 10th-year anniversary of the Centre.</p>